.product-page__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 124px;
  flex-direction: column;
  position: relative;
  width: 98%;
}

.product-page__wrapper .visible {
  display: block;
}

.product-page__wrapper .hidden {
  display: none;
}


.product-page__text__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.product-page__carousel__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  width: 98%;
}
