.button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 98%;
  height: 6vw;
  font-size: 4vw;
  margin-top: 8px;
  background-color: #ffffff;
  color: #000;
}

.button-order {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 24vw;
  height: 8vw;
  font-size: 4vw;
  margin-left: 4vw;
  background-color: #cbc7c7;
  color: #000;
}

.button:hover {
  background-color: #dcdcdc;
}

.button__icon {
  cursor: pointer;
  font-size: 4vw;
  margin: 0;
  transition: font-size 0.3s ease;
}

.button-order__icon {
  cursor: pointer;
  font-size: 4vw;
  margin: 0;
  transition: font-size 0.3s ease;
}