.button-small {
  width: 98%;
  height: 4vw;
  font-size: 2vw;
  margin-top: 8px;
}

.button-medium {
  width: 24vw;
  height: 6vw;
  font-size: 2vw;
}

.gray {
  background-color: #cbc7c7;
  color: #000;
}

.white {
  background-color: #ffffff;
  color: #000;
}

.button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #dcdcdc;
}

.button__icon {
  cursor: pointer;
  font-size: 2vw;
  margin: 0;
  transition: font-size 0.3s ease;
}
