.cartpage__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  margin-bottom: 124px;
}

h2 {
  align-self: baseline;
  margin-left: 4vw;
}