.card {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-self: center;
    overflow-x: auto;
    width: 100%;
}

