.card-first {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 15px;
  width: 20vw;
  height: 25vh;
  padding: 10px;
}

.card-first__button {
  margin-top: 5%;
}

.card-first__img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 4px;
}

.card-first__price {
  font-weight: bold;
  font-size: 3vw;
}

.card-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-top: 8px;
  color: black;
}

.card-title {
  color: #101828;
  align-self: baseline;
  font-size: 18px;
  line-height: 18px;
  margin-top: 4px;
}

@media (min-width: 600px) {
  .card-first {
      width: 15vw;
      height: 40vw;
  }

  .card-first__img {
      width: 100%;
      height: auto;
  }

  .card-first__price {
      font-size: 1.5vw;
  }
}

@media (max-width: 767px) {
  .card-first {
    width: 20vw;
    height: 50vw;
  }

  .card-first__img {
      width: 100%;
      height: auto;
  }

  .card-first__price {
      font-size: 3vw;
  }
  }

@media (min-width: 1200px) {
  .card-first {
      width: 15vw;
      height: 55vw;
  }

  .card-first__img {
      width: 100%;
      height: auto;
  }

  .card-first__price {
      font-size: 3vw;
  }
}

.card-second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 96vw;
  height: 96px;
  flex-direction: row;
  border-bottom: 1px solid #dcdcdc;
  padding: 24px
}

.last-card__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.card-second__img {
  width: 20%;
  height: auto;
  border-radius: 15px;
}

.card-second__content__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin-left: 16px;
  flex: 1;
}

.card-second__divider {
  height: 2px;
  color: #101828;
}
