.card {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-self: center;
    overflow-x: auto;
    width: 100vw;
}

