.card {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-self: center;
    overflow-x: auto;
    width: 100vw;
}

