.home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 128px;
}

.home-visible {
    visibility: visible;
    display: contents;
  }
  
  .home-visible.hidden {
    visibility: hidden;
    display: none;
  }
  