.detail-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dbdbdb;
    margin: 2vw;
    position: absolute;
    z-index: 100;
}

.detail-button.left {
    left: 0px;
}

.detail-button.right {
    right: 0px;
}

.detail-button__wrapper:hover {
    background-color: #e2e2e2;
}

.detail-button__icon {
    cursor: pointer;
}

.detail-button-small {
    width: 8vw;
    height: 8vw;
    font-size: 3vw;
    border-radius: 50px;
}

.detail-button-medium {
    width: 16vw;
    height: 10vw;
    font-size: 4vw;
    border-radius: 15px;
}