.search-box {
  border-radius: 15px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  padding: 5px;
  width: 90vw;
  max-width: 1000px;
  margin-bottom: 8px;
}

.search-icon {
  margin-right: 8px;
}

input {
  border: none;
  outline: none;
  flex: 1;
  padding: 8px;
  border-radius: 10px;
  font-size: 14px;
}
