.example-block__wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 90%;
    margin-bottom: -48px;
    margin-top: 72px;
}

.example-block__wrapper .visible {
    display: block;
  }
  
  .example-block__wrapper .hidden {
    display: none;
  }
  

.example-cards__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.example-cards__wrapper img {
    height: 15vw;
}

@media (min-width: 768px) {
    .example-cards__wrapper img {
        max-height: 20vw;
    }
}

.example-cards__wrapper span {
    font-size: 3vw;
    margin-right: 16px;
}
