.example-block__wrapper {
    display: flex;
    max-width: 100%;
    margin-bottom: -48px;
    margin-top: 48px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
}

.example-cards__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    text-align: center;
}

.example-cards__wrapper img {
    height: 15vw;
}

@media (min-width: 768px) {
    .example-cards__wrapper img {
        max-height: 20vw;
    }
}

.example-cards__text {
  font-size: 12px;
  line-height: 12px;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}